@media screen and (min-width: 1250px) {
    .main_wrapper{
        background-size: 100%;
    }
}
@media screen and (max-width: 1150px) {
    .links_block{
        left: 0%;
        width: 40%;
    }

    .MainButton:hover{
        transform: scale(0.8);
    }
    .MainButton::after, .MainButton::before{
        content: '';
    }
    .MainButton:hover:after{
        content: '>';
        transform: translate(0);
    }
    .MainButton:hover:before{
        content: '<';
        transform: translate(0);
    }
}
@media screen and (max-width: 1000px){
    #showWindow{
        overflow: hidden;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .links_block_cancel{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 0%;
        opacity: 0;
        z-index: 0;
        width: 55%;
    }
    .exitButtonCancel{
        position: absolute;
        top: 85%;
        width: 10%;
        height: 10%;
        animation: arrowBack 1s;
        z-index: 0;
        opacity: 0;
    }
}
@media screen and (max-width: 950px) {
    .links_block{   
        position: absolute;
        top: 5%;
        left: 15%;
        width: 70%;
        height: 40%;
        display: flex;
        justify-content: space-between;
    }
    .MainButton{
        font-size: 30px;
        transition: all 0.3s ease-in-out 0s;
    }
    .MainButton:hover{
        transform: scale(0.8);
    }
    .MainButton::after{
        content: '>';
        opacity: 0;
    }
    .MainButton::before{
        content: '<';
        opacity: 0;
    }
    .MainButton:hover:after{
        content: '>';
        opacity: 1;
        transform: translate(0);
    }
    .MainButton:hover:before{
        content: '<';
        opacity: 1;
        transform: translate(0);
    }
    .exitButton{
        left: 3%;
    }
    .exitButton>button>img:hover{
        transform:rotate(180deg) scale(1.1);
        text-shadow: 0 0 10px green;
    }
}
@media screen and (max-width: 850px) {
    .links_block{  
        top: 10%; 
        left: 10%;
        width: 85%;
        
    }
    .MainButton{
       font-size: 20px;
    }
}