@media screen and (max-width: 1000px) {
    .tableStyle {
        right: 15%;
    }
    .exitTable{
        display: inline;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }

}